-- http://projects.haskell.org/xmobar/
-- I use Font Awesome 5 fonts in this config for unicode "icons".  On Arch Linux,
-- install this package from the AUR to get these fonts: otf-font-awesome-5-free

Config { font    = "xft:Ubuntu:weight=bold:pixelsize=14:antialias=true:hinting=true"
       , additionalFonts = [ "xft:Mononoki Nerd Font:pixelsize=14:antialias=true:hinting=true"
                           , "xft:Font Awesome 5 Free Solid:pixelsize=14"
                           , "xft:Font Awesome 5 Brands:pixelsize=14"
                           ]
       , bgColor = "#282c34"
       , fgColor = "#ff6c6b"
       , position = TopSize L 100 24
       , lowerOnStart = True
       , hideOnStart = False
       , allDesktops = True
       , persistent = True
       , commands = [
                    -- Time and date
                      Run Date "<fn=2>\xf017</fn>  %b %d - (%H:%M) " "date" 50
                      -- Network up and down
                    --, Run Network "enp3s0" ["-t", "<fn=2>\xf0ab</fn>  <rx>kb  <fn=2>\xf0aa</fn>  <tx>kb"] 20
                    , Run Network "wlp3s0" ["-t", "<fn=2>\xf0ab</fn>  <rx>kb  <fn=2>\xf0aa</fn>  <tx>kb"] 20
		    -- Cpu usage in percent
                    , Run Cpu ["-t", "<fn=2>\xf108</fn>  cpu: (<total>%)","-H","50","--high","red"] 20

		    , Run Memory         [ "-t" ,"<fn=2>\xf1c0</fn> Mem: <usedratio>%" ] 10
		    , Run Battery        [ "-t" , "<fn=2>\xf0e7</fn> <left>%"] 50
		    , Run Battery        [ "--template" , "<acstatus>"
		      , "--Low"      , "20"        -- units: %
		      , "--High"     , "80"        -- units: %
		      , "--low"      , "darkred"
		      , "--normal"   , "darkorange"
		      , "--high"     , "darkgreen"

		      , "--" -- battery specific options
		      -- discharging status
		      , "-o"	, "<fn=2>\xf0e7</fn> <left>%"
		      -- AC "on" status
		      , "-O"	, "<fc=#dAA520><fn=2>\xf1e6</fn> <left>%</fc>"
		      -- charged status
		      , "-i"	, "<fc=#006000><fn=2>\xf240</fn> <left>%</fc>"
		    ] 50
		    , Run Com "echo" ["<fn=2>\xf0f3</fn>"] "bell" 3600
                        -- Check for pacman updates (script found in .local/bin)
                    , Run Com "/home/lautarob/.config/scripts/pacupdate.sh" [] "pacupdate" 36000
		    -- Script that dynamically adjusts xmobar padding depending on number of trayer icons.
		    --, Run Com ".config/xmobar/trayer-padding-icon.sh" [] "trayerpad" 20
		    , Run Volume "default" "Master" ["-t", "<fn=2>\xf027</fn> <volume>%"] 10
		    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       -- Laptop version
       , template = "%UnsafeStdinReader%}{ <fc=#c678dd>%bell%  <action=`alacritty --hold -e sudo pacman -Syu && xmonad --recompile`>%pacupdate%</action> </fc> <fc=#666666>|</fc> <fc=#ecbe7b> %cpu% </fc> <fc=#666666>|</fc>  <fc=#ff6c6b> %memory% </fc> <fc=#666666>|</fc> <fc=#46d9ff> %wlp3s0% </fc> <fc=#666666>|</fc> <fc=#98be95> %battery% </fc> <fc=#666666>|</fc> <action=`alacritty -e ncpamixer`>%default:Master%</action> <fc=#666666>|</fc> <fc=#ababab> %date% </fc>"
       -- Desktop version
       --, template = "%UnsafeStdinReader%}{ <fc=#c678dd>%bell%  <action=`alacritty --hold -e sudo pacman -Syu && xmonad --recompile`>%pacupdate%</action> </fc> <fc=#666666>|</fc> <fc=#ecbe7b> %cpu% </fc> <fc=#666666>|</fc>  <fc=#ff6c6b> %memory% </fc> <fc=#666666>|</fc>  <fc=#46d9ff> %enp3s0% </fc> <fc=#666666>|</fc> <action=`alacritty -e ncpamixer`>%default:Master%</action> <fc=#666666>|</fc> <fc=#ababab> %date% </fc>"
       }


