/*
!.gitignore
!qutebrowser
!dwm
!fish
!nvim
!ranger
!xmobar
!xmonad
!alacritty
!wallpapers
!installer.sh
!scripts/
!runframeb/
!dmenu/
!install_scripts/
!scripts/
!dunst/
!lf/
!mimi/
!zsh/
!gtk-3.0/
!keyd/
!pacseek/

scripts/xmind2latex
