/*
!.gitignore
!qutebrowser
!dwm
!fish
!nvim
!ranger
!xmobar
!xmonad
!alacritty
!wallpapers
!installer.sh
!scripts/
!runframeb/
!dmenu/
scripts/xmind2latex
scripts/xmind2anki
scripts/reddit_notifs
scripts/md2anki
  
scripts/xmind2latex
